.#.*
*.dmg
*.pkg
*.orig
*.pyc
**/sandbox/**
**/private/**
/*.txt
/*.xlsx
.idea/
*.iml
/certificates/**
/research/**
/Patreon/**
**/*.app/**
/app/epichrome-*.notarize*
/app/Engines/**
/app/Epichrome
/app/build
/app/icons/**
/app/runtime/**
/app/src/welcome/img/ext
/app/src/welcome/img/bookmark.png
/app/src/welcome/img/epichrome_icon.png
/app/src/welcome/img/app_icon.png
/builder/**
/dmg/images/*.png
/dmg/images/*.icns
/runtime/build/**
/runtime/images/icons/current
/runtime/node/**
/runtime/src/*.png
/runtime/src/*.gif
/runtime/store/**
/runtime/zip/**
/images/icons/*.png
/images/package/*.png
/images/readme/*.ai
/images/icons/source/**
/tests/**
