.#.*
*.dmg
*.orig
*.pyc
**/boneyard/**
/*.txt
/*.xlsx
/certificates/**
/research/**
/app/*.app/**
/app/icons/**
/app/welcome/img/icon*.png
/builder/**
/runtime/build/**
/runtime/images/icons/current
/runtime/node/**
/runtime/src/*.png
/runtime/src/*.gif
/runtime/store/**
/runtime/zip/**
/images/icons/source/**
/tests/**
