*.dmg
*.orig
*.pyc
**/boneyard/**
/*.txt
/*.xlsx
/certificates/**
/research/**
/app/*.app/**
/app/icons/**
/app/welcome/img/icon*.png
/builder/**
/helper/build/**
/helper/images/icons/current
/helper/node/**
/helper/src/*.png
/helper/src/*.gif
/helper/store/**
/helper/zip/**
/images/icons/source/**
/tests/**
