/* CHROME STYLES */

body {
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;

}

h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}
h1, h2, h3 {
    -webkit-user-select: none;
    font-weight: normal;
    line-height: 1;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d3d3d3;
}
#title img {
    height: 64px;
    margin: 16px 16px 16px 0px;
}
#title h1 {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

#container {
    background-image: linear-gradient(#ffffff, #d3d3d3);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
}

#main {
    margin: 0 auto;
    width: 35em;
    text-align: justify;
    background: none;
    font-size: 135%;
    padding-top: 1em;
}
#main p {
    margin-bottom: 1em;
}
#main img {
    margin: 0 auto;
    display: block;
    margin-bottom: 1.5em;
}

#instructions {
    width: 30em;
    margin: 0 auto;
}
#instructions td.text {
    padding-right: 1em;
    text-align: right;
    font-size: 90%;
}
#instructions tr.heading td {
    padding-top: 0.5em;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #808080;
}
#instructions tr.step td {
    padding-top: 1em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: top;
}
#instructions td.image {
    float: left;
}
#instructions td.image img {
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    align: left;
}

a {
    font-weight: bold;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* a:active { */
/*     color: blue; */
/* } */
/* a:visited { */
/* } */
